ion-input {
  font-size: 2em;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  color: #11c020;
  width: 100%;
  box-sizing: border-box;
}

ion-button {
  font-size: 1.5em;
}
